ul.icons {
	padding-left: 0px;
	list-style-type: none;
}

ul.icons > li:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e162";
	padding-right: 0.5em;
}

.jumbotron {
	padding-bottom: 1em;
}

.navbar-nav > li {
border-right: 1px solid #eeeeee;
}

.top {
	padding-top: 50px;
}

.header {
	padding-bottom: 0px;
}

h2 {
	padding-top: 50px;
	margin-top: -30px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
  vertical-align: center;
}